<%= blockquote_tag('http://yjkym.hatenablog.com/', '大塚製薬', class: 'please') do %>
  カロリーメイトは、手軽にバランス良く栄養補給できるバランス栄養食です。<br />
  <%= image_tag('https://www.otsuka.co.jp/cmt/images/mv2.jpg') %>
<% end %>
<%# ↓出力結果
<blockquote class="please" cite="http://yjkym.hatenablog.com/">
  カロリーメイトは、手軽にバランス良く栄養補給できるバランス栄養食です。<br />
  <img src="https://www.otsuka.co.jp/cmt/images/mv2.jpg" alt="Mv2" />
</blockquote><p>出典：<cite>大塚製薬</cite></p> 
%>