<% @cds = Cd.all %>
<%= list_tag2 @cds, 'title' %>
<%# 
    # <ul><li>充分未来</li>
    # <li>星眠る島</li>
    # <li>カンバセイション</li>
    # <li>僕は停滞気味</li>
    # <li>エロス</li>
    # <li>MICHITONOSOGU</li>
    # <li>つしまげる</li>
    # <li>すてきな15才</li>
    # <li>KICK!</li>
    # <li>AOKAJI</li></ul>
 %>