<%# レイアウトに複数のコンテンツを流す例 %>

<%# レイアウト側で %>
<%# <%= yield :extend_menu %_> %>
<%# という記述で受け取る %>
<% content_for :extend_menu do %>
  ここは固有レイアウト内で定義されています
<% end %>

<%# ここからは通常の<%= yield %_>で受け取る %>
<div id="main">
  ここも固有レイアウト内で定義されています
</div>