<%# これはメインテンプレート %>
<%# ここから部分テンプレートを呼び出す %>
<div id="info">
  <%# 部分テンプレートを適用する %>
  <%# views/cds/_cd.html.erbの部分テンプレートを適用する %>
  <%# インスタンス変数をパラメータに渡すことで、 %>
  <%# アクションと部分テンプレートの結合を弱くする %>
  <%#= render 'cds/cd', cd: @cd, type: :details %>

  <%# 部分テンプレートに対してレイアウトを適用する %>
  <%# そのレイアウトをパーシャルレイアウトと呼ぶ %>
  <%# …部分レイアウトって言えばいいのに %>
  <%# partialオプション（部分テンプレート）の指定が必須 %>
  <%# その他のパラメータはlocalsオプション配下で渡す %>
  <%= render partial: 'cds/cd', layout: 'cds/frame', locals: {cd: @cd, type: :details} %>

  <%# こう書くこともできる %>
  <%# views/cds/_cdテンプレートを適用し、 %>
  <%# cdというパラメータに@cdを渡す %>
  <%#= render @cd, type: :details %>
  
  <%# 部分テンプレートとメインテンプレートが同じフォルダにある場合は %>  
  <%# 部分テンプレートを優先する %>  
  <%# views/application/_cd.html.erbの部分テンプレートを適用する %>  
  <%#= render 'book' %>
</div>