<%# これはメインテンプレート %>
<%# ここから部分テンプレートを呼び出す %>
<div id="info">
  <%# 部分テンプレートを適用する %>
  <%# views/cds/_cd.html.erbの部分テンプレートを適用する %>
  <%= render 'cds/cd' %>
  <%# 部分テンプレートとメインテンプレートが同じフォルダにある場合は %>  
  <%# 部分テンプレートを優先する %>  
  <%# views/application/_cd.html.erbの部分テンプレートを適用する %>  
  <%#= render 'book' %>
</div>