<%# テンプレートファイル(コントローラー名/アクション名.html.erb) %>

<%# rails generate controller yahoo show みたいに %>
<%# コントローラー生成することでテンプレートファイルも一緒にできる %>
<div id="main">
<%# <%=…%_>タグ（アンダーバー不要）は %>
<%# 変数の値あるいは与えられた式の結果を出力する %>

<%# <%…%_>タグ（アンダーバー不要）は %>
<%# 与えられた式の実行のみを行い、結果を出力しない %>

<%# <%…-%_>タグ（アンダーバー不要）や %>
<%# <%=…-%_>タグ（アンダーバー不要）は %>
<%# 終了タグ後のスペースや改行などを除去することができる。 %>
<%# HTMLが改行されてしまうので見にくい… %>

<%# タグは複数行にわたることも可能 %>

<%# インスタンス変数はコントローラー側の記述同様 %>
<%# @…で参照できる %>
<%= @msg %>
</div>